extends layout.pug

append stylesheets
    include ./style/landing.css

block content
    #landing-view.gap-sm
        img#landing-img(src="/assets/berlin.png", alt="Lorenzo Farinelli")
        p.caption Berlin, Akademie der kunste, 2022