.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.v-flex {
  display: flex;
  flex-direction: column;
}

.expand-children > * {
  flex-grow: 1;
}

.space-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}


/* Gaps */
.gap-sm{
    gap: 8px;
}
.gap-md{
    gap: 12px;
}
.gap-lg{
    gap: 16px;
}
.gap-xl{
    gap: 24px;
}